{% extends "base.html" %}
{% load static %}

{% block title %}Create Person{% endblock %}

{% block content %}

    <h1>confurmbooking</h1>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'booking' %}">Booking</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
    <h1>{{roomid}}</h1>
    <p>{{room.room_name}}
    {{room.room_info}}
    {{room.room_capacity}}</p>
    {% if not form.is_valid %}
        <form method="POST">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            
        <button type="submit" style="margin-left: 100px;">Create</button>
        </form>
    {% else %}
        <p> booking success </p>
    {% endif %}


    <a href="{% url 'booking' %}"><button type="submit" style="margin-left: 100px;">Back</button></a>


{%endblock%}